API_POOL_ID=pool-1
API_HTTP_BIND=127.0.0.1:8080
NATS_URL=nats://127.0.0.1:4222
API_NATS_MONITORING_URL=http://127.0.0.1:8222
API_SERIAL_HEALTH_URL=http://splash-zero.local:9108/healthz
API_PROTOCOL_HEALTH_URL=http://127.0.0.1:9109/healthz
LOG_LEVEL=debug
TZ=America/New_York
