NATS_URL=nats://127.0.0.1:4222
PROTOCOL_HTTP_BIND=127.0.0.1:9109
PROTOCOL_COMMAND_TIMEOUT_MS=5000
PROTOCOL_POOL_ID=pool-1
PROTOCOL_SELECTED_PLUGIN=pentair_easytouch
PROTOCOL_SELECTED_CONFIG_JSON={}
LOG_LEVEL=debug
TZ=America/New_York
