deb [signed-by=/etc/apt/keyrings/gitea-{{ splash_gitea_package_owner }}.asc] https://{% if splash_gitea_package_username | length > 0 and splash_gitea_package_token | length > 0 %}{{ splash_gitea_package_username }}:{{ splash_gitea_package_token }}@{% endif %}{{ splash_gitea_package_host }}/api/packages/{{ splash_gitea_package_owner }}/debian {{ splash_gitea_package_distribution }} {{ splash_gitea_package_component }}
