services:
  postgres:
    image: {{ splash_postgres_image }}:{{ splash_postgres_image_tag }}
    container_name: {{ splash_postgres_container_name }}
    restart: {{ splash_postgres_restart_policy }}
    env_file:
      - postgres.env
    ports:
      - "{{ splash_postgres_bind_address }}:{{ splash_postgres_port }}:5432"
    volumes:
      - "{{ splash_postgres_data_dir }}:/var/lib/postgresql/data"
