POSTGRES_DB={{ splash_postgres_db }}
POSTGRES_USER={{ splash_postgres_user }}
POSTGRES_PASSWORD={{ splash_postgres_password }}
{% for key, value in splash_postgres_env | dictsort %}
{{ key }}={{ value }}
{% endfor %}
